body {
  margin: 0;
  background: rgb(182,251,255);
  background: linear-gradient(0deg, rgb(182, 251, 255) 0%, rgba(255,255,255,1) 105%);
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #674FA7;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-links {
    display:flex;
    list-style: none;
  }

  .mylogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .social-icons {
    text-align: center;
    padding-top: 60px;
  }

  a {
    padding: 8px 10px;
    font-size: 1.5rem;
  }
  
  .fixed-nav a {
    color: #ffffff;
    text-decoration: underline dotted #B6FFFB 3px;
  }
  
  .hero-section {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-subtitle {
    font-size: 1.7rem;
    color: #2f4858;
    font-family: 'Montserrat', sans-serif;
    padding-top: 180px;
  }

  .hero-title {
    color: #33658A;
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
  }
  
  .hero-desc {
    font-size: 2rem;
    height: 2rem;
    color:#2f4858;
    font-family: 'Montserrat', sans-serif;
  }

  .hero-text {
    text-align: center;
    line-height: 30px;
  }
  
  .resume-pdf {
    font-size: 1.7rem;
    color: #2f4858;
    font-family: 'Montserrat', sans-serif;
  }

  .resume-link {
    text-decoration: none;
    color:#674FA7;
    font-size: 1.7rem;
    font-style: italic;
    cursor: pointer;
  }

  .section-header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #674FA7;
    font-size: 60px;
    letter-spacing: 1.4px;
  }
  
  .about-container {
    display: flex;
  }
  
  .about-text {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #2f4858;
  font-size: 20px;
  line-height: 25px;
  }

  .about-link {
  font-family: 'Montserrat', sans-serif;
  color: #2f4858;
  font-size: 20px;
  line-height: 25px;
  }
  
  .about-container img {
    width: 30%;
    border-radius: 30%;
  }
  
  #about {
    padding: 2rem;
  }

  .skills-container {
    display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 20px;
  }

  .skill {
    width: -10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #2f4858;
    font-size: 20px;
    line-height: 25px;
  }

  .skills-img {
    height: 30px;
  }

  #skills {
    padding: 2rem;
  }

  #portfolio {
    padding: 2rem;
  }

  .portfolio-container {
    display: flex;
    justify-content: space-between;
  }
  
  #portfolio {
    padding: 2rem 6rem 2rem 6rem;
    /* background-color: rgba(213, 17, 115, 0.127); */
    background-color: transparent;
  }
  
  .portfolio-item {
    width: 40%;
    text-align: center;
    border: 3px #33658A solid;
    border-radius: 25px;
    border-style: dashed;
    box-shadow: 5px 10px;
    box-shadow: 5px 8px #674FA7;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #2f4858;
    font-size: 17px;
    line-height: 25px;
  }
  
  .portfolio-item h2 {
    padding-top:5px;
  }

  .portfolio-item a {
    text-decoration: none;
    color:#674FA7;
    font-size: 25px;
    font-style: italic;
  }
  
  .image-container img {
    max-width: 60%;
    max-height: 60%;
  }

  #mazedar {
    padding: 2rem;
  }

  .food-container {
    display: flex;
  }

  .food-container img {
    width: 30%;
    height: 30%;
  }

  .food-text {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #2f4858;
    font-size: 20px;
    line-height: 25px;
  }
  .food-icon {
    text-align: center;
    padding-top: 60px;
  }

  #books {
    padding: 2rem;
  }

  .book-container {
    display: flex;
  }

  .book-text {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #2f4858;
    font-size: 20px;
    line-height: 25px;
    }

    .book-title {
      border-radius: 10%;
      color: #674FA7;
    }

    .book-subheading {
      color:#33658A;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      font-size: 40px;
      letter-spacing: 1px;
    }
  #contact {
    padding: 2rem;
    text-align: center;
  }
  
  .contact-link {
    text-decoration: none;
    display: block;
  }

  /* below is from lecture */
  /* about-container img {
    width: 25%;
    border-radius: 50% ; */

    .navbarPink {
      background-color: #33658A;
      transition: 0.8s;
    }

    /* need to make height 100% otherwise there is a space below the footer */
/*html,
body {
  height: 100%;
}*/

footer {
  text-align: center;
  vertical-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #2f4858;
  background-color: transparent;
  font-size: 20px;
  /*rgba(226, 218, 222, 0.75);
} */

.footer-text {
  padding-top: 3px;
} */

/* .add-button {
  padding: 10px;
  width: 25%;
  background: white;
  color: #555;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
  font-weight: 400;
}

.add-button:hover {
  background-color: #f05dc1;
  color: #fff;
} */